@import "../../../styles/_variables";

.course {
    position: relative;
    top: 0;

    .txt {
        transform: scale(0);
        background: $black;
        padding: 1.5rem;
        width: 75%;
        height: calc(#{$fullHeight} - 25vh);
        border: 1px solid #505156;
        border-radius: 10px;
        margin: 0 auto 5rem auto;
        transition: all .5s linear;
        opacity: 0;

        &.active {
            transform: scale(1);
            padding-top: 1.5rem;
            opacity: 1;
            transition: all .5s linear;
        }

        .dots {
            margin: 0;
            position: relative;
            top: 0;
            left: 0;
            padding-bottom: 2.5%;
        
            li {
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                top: 2.5%;
                transform: translateY(-50%);
            }
        
            li {
                color: black;
            }
        
            li.close {
                background-color: #FF5F56;
                left: 0px;
            }
        
            li.min {
                background-color: #FFBE2D;
                left: 20px;
                p {
                    font-size: 15px;
                }
            }
        
            li.expand {
                background-color: #25C940;
                left: 40px;
            }
        }
    
        .content {
            padding-top: 1.2rem;
    
            h2 {
                padding-bottom: 1rem;
                padding-top: 1rem;
            }
        }
    }
}