@font-face {
  font-family: "myriadBold";
  src: url("../Fonts/MYRIADPRO-BOLD.ttf") format("truetype");
}
@font-face {
  font-family: "myriad";
  src: url("../Fonts/MYRIADPRO-REGULAR.ttf") format("truetype");
}
.window {
  background-color: rgba(35, 35, 35, 0.9);
  width: 60%;
  height: 60%;
  position: fixed;
  top: 37.5%;
  left: 37.5%;
  z-index: 10;
  margin: 0 auto;
  border: 1px solid #505156;
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.5s linear;
}
.window.isInView {
  transform: scale(1);
  transition: all 0.5s linear;
}
.window.isInView.isMin {
  transform: scale(0.5);
  top: 54%;
  left: 54.5%;
  transition: all 0.5s linear;
  cursor: pointer;
}
.window.isInView.isClose {
  transform: scale(0.25);
  top: 60%;
  left: 61.5%;
  transition: all 0.5s linear;
  cursor: pointer;
}
.window .sidebar {
  height: 100%;
  width: 13.75%;
  border-right: 1px solid rgb(27, 27, 27);
}
.window .sidebar .dots {
  margin: 0;
  cursor: pointer;
}
.window .sidebar .dots li {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 5%;
  transform: translateY(-50%);
}
.window .sidebar .dots li p {
  display: none;
}
.window .sidebar .dots li:hover p {
  display: block;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-45%, 40%);
  font-size: 10px;
}
.window .sidebar .dots li {
  color: black;
}
.window .sidebar .dots li.close {
  background-color: #FF5F56;
  left: 13px;
}
.window .sidebar .dots li.min {
  background-color: #FFBE2D;
  left: 33px;
}
.window .sidebar .dots li.min p {
  font-size: 15px;
}
.window .sidebar .dots li.expand {
  background-color: #25C940;
  left: 53px;
}
.window .sidebar .sidebarFav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.window .sidebar .sidebarFav li {
  cursor: default;
}
.window .sidebar .sidebarFav .fav {
  color: orange;
  padding: 50px 0 10px 13px;
}
.window .sidebar .sidebarFav .docs {
  font-family: "myriadBold";
  background-color: orange;
  color: black;
  width: 100% !important;
}
.window .sidebar .sidebarFav li:not(.fav) {
  padding-left: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 83%;
}
.window .sidebar .device {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 50px 0px 20px 13px;
  height: 25.75%;
}
.window .sidebar .device li {
  cursor: default;
}
.window .sidebar .device .dev {
  color: orange;
}
.window .sidebar .device li:not(.dev) {
  padding-left: 10px;
  padding-top: 10px;
}
.window .header {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 86.2%;
  height: 12.5%;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 13.8%;
  background-color: rgba(40, 41, 43, 0.9);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(27, 27, 27);
}
.window .header li {
  padding: 10px;
  cursor: default;
}
.window .header li:not(.documents) {
  color: #4D4E50;
}
.window .header .prev {
  padding-left: 20px;
}
.window .header .documents {
  font-family: "myriadBold";
}
.window .contentFolders {
  width: 26.2%;
  height: 87.5%;
  margin-right: 0;
  margin-left: auto;
  position: absolute;
  top: 12.5%;
  left: 13.8%;
  border-right: 1px solid rgb(27, 27, 27);
}
.window .contentFolders ul.active {
  background-color: orange;
  color: black;
}
.window .contentFolders ul.active .icon path {
  fill: black;
}
.window .contentFolders .folderW, .window .contentFolders .folderC, .window .contentFolders .folderF {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 20px;
}
.window .contentFolders .folderW li, .window .contentFolders .folderC li, .window .contentFolders .folderF li {
  padding-right: 15px;
  cursor: pointer;
}
.window .contentFolders .folderW .icon path, .window .contentFolders .folderC .icon path, .window .contentFolders .folderF .icon path {
  fill: orange;
}
.window .contentW, .window .contentC, .window .contentF {
  width: 26.2%;
  height: 87.5%;
  margin-right: 0;
  margin-left: auto;
  position: absolute;
  top: 12.5%;
  left: 40%;
  display: none;
  border-right: 1px solid rgb(27, 27, 27);
  transition: all 0.75s linear;
}
.window .contentW .fileW, .window .contentW .docentW, .window .contentW .fileC, .window .contentW .fileF, .window .contentC .fileW, .window .contentC .docentW, .window .contentC .fileC, .window .contentC .fileF, .window .contentF .fileW, .window .contentF .docentW, .window .contentF .fileC, .window .contentF .fileF {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 20px;
}
.window .contentW .fileW li, .window .contentW .docentW li, .window .contentW .fileC li, .window .contentW .fileF li, .window .contentC .fileW li, .window .contentC .docentW li, .window .contentC .fileC li, .window .contentC .fileF li, .window .contentF .fileW li, .window .contentF .docentW li, .window .contentF .fileC li, .window .contentF .fileF li {
  padding-right: 15px;
  cursor: pointer;
}
.window .contentW .fileW .icon path, .window .contentW .docentW .icon path, .window .contentW .fileC .icon path, .window .contentW .fileF .icon path, .window .contentC .fileW .icon path, .window .contentC .docentW .icon path, .window .contentC .fileC .icon path, .window .contentC .fileF .icon path, .window .contentF .fileW .icon path, .window .contentF .docentW .icon path, .window .contentF .fileC .icon path, .window .contentF .fileF .icon path {
  fill: orange;
}
.window .contentW.active, .window .contentC.active, .window .contentF.active {
  display: block;
  transition: all 0.75s linear;
}
.window .fileW.active, .window .docentW.active, .window .fileC.active, .window .fileF.active {
  background-color: orange;
  color: black;
}
.window .fileW.active .icon path, .window .docentW.active .icon path, .window .fileC.active .icon path, .window .fileF.active .icon path {
  fill: black;
}/*# sourceMappingURL=Finder.css.map */