@import "../../styles/_font-faces";
@import "../../styles/_mixins";
@import "../../styles/_variables";

.faq {
    background-color: #303030;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding: 4rem 1.5rem;
    box-shadow: 0px -1px 25px rgba(0, 0, 0, 0.5);
    transition: all .25s linear;

    @media (max-width: 768px) {
        padding: 4rem;
    }

    h2 {
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 5rem;
        text-shadow: -10px 20px 10px rgba(0, 0, 0);
    }

    .parag {
        flex: 0 0 100%;
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        text-shadow: -10px 20px 10px rgba(0, 0, 0);
    }

    .card {
        flex: 0 0 15%;
        margin-bottom: 4rem;

        @media (max-width: 768px) {
            flex: 100%;

            &.hide {
                display: none;

                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                    display: block;
                }
            }

            &.show {
                display: block;
            }
        }
    }

    .submitBtn {
        flex: 0 0 25%;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        margin-top: 10px;

        @media (max-width: 768px) {
            flex: 0 0 100%;
            margin-top: 20px;
        }

        .btn {
            padding: 0.1em 0.25em;
            width: 13em;
            height: 4.2em;
            background-color: #232323;
            border: 0.08em solid #fff;
            border-radius: 0.3em;
            font-size: 12px;
            cursor: pointer;

            @media (max-width: 768px) {
                width: 100%;
            }

            .btnSpan {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 0.4em;
                width: 8.25em;
                height: 2.5em;
                background-color: #232323;
                border-radius: 0.2em;
                font-size: 1.5em;
                color: #fff;
                border: 0.08em solid #fff;
                box-shadow: 0 0.4em 0.1em 0.019em #fff;
                font-family: "myriad";
                text-shadow: -5px 5px 5px rgb(0, 0, 0);

                @media (max-width: 768px) {
                    width: 100%;
                }

                &:hover {
                    transition: all 0.5s;
                    transform: translate(0, 0.4em);
                    box-shadow: 0 0 0 0 #fff;
                }

                &:not(hover) {
                    transition: all 1s;
                }
            }
        }
    }
}