@import "../../../styles/_font-faces";
@import "../../../styles/_mixins";
@import "../../../styles/_variables";

.home {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 5rem;
    height: $fullHeight;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .scrolldown {
        position: absolute;
        bottom: 1%;
    }
}

