@import "../../styles/_font-faces";
@import "../../styles/_mixins";
@import "../../styles/_variables";

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    z-index: 999;

    .voicesList {
        margin: 0;
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(#{$fullHeight} - 65px);

        li {
            width: 100%;
        }
    }
}