@import "./styles/_font-faces";
@import "./styles/_mixins";
@import "./styles/_variables";

* {
    font-family: "myriad";
    @include fluid-type(14, 20, 200, 1920);

    h2 {
        @include fluid-type(18, 40, 200, 1920); 
    }
}

.App {
    margin: 0;
    padding: 0;

    .sidebar {

        ul {
            list-style: none;
        }
    }
}